.eCalculadoraCetelem * {
    box-sizing: border-box;
    font-family: "Verdana","Trebuchet MS","Arial","Helvetica","sans-serif"!important
}

.eCalculadoraCetelem {
    margin: 0;
    padding: 0;
    clear: both
}

.eCalculadoraCetelem .msgCtl,.eCalculadoraCetelem .cantidadCtl {
    display: none!important
}

body .eCalculadoraCetelem .negritaCtl span,body .eCalculadoraCetelem .negritaCtl * {
    font-weight: bold
}

.eCalculadoraCetelem .label_financiacion {
    margin-bottom: 4px;
    display: block
}

.eCalculadoraCetelem .cont_financiacionCtl {
    text-align: center;
    border-radius: 4px
}

.eCalculadoraCetelem .label_cuota {
    margin-bottom: 4px;
    display: block
}

.eCalculadoraCetelem .cont_importeMensualidadCtl {
    text-align: center;
    border-radius: 4px;
    color: #626262;
    display: flex;
    justify-content: space-around
}

.eCalculadoraCetelem.masInfo .moreInfoCtl {
    padding-top: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    width: 40px;
    float: left;
    text-decoration: none;
    text-align: right;
    display: block
}

.eCalculadoraCetelem .moreInfoCtl:hover {
    text-decoration: underline
}

.eCalculadoraCetelem .infoFinanciacionCtl {
    clear: left;
    color: grey;
    list-style: none;
    padding: 8px 0 0 0;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.eCalculadoraCetelem .financiacionCtl {
    border: none!important;
    border-radius: 4px;
    width: 100%!important;
    background: url("../images/triang-abajo.png") no-repeat right!important;
    background-color: white!important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px!important;
    padding-left: 3px!important;
    color: #626262;
    padding-top: 0!important;
    padding-bottom: 0!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    margin-bottom: 0!important
}

.eCalculadoraCetelem a {
    color: inherit
}

.eCalculadoraCetelem .ocultar {
    display: none!important
}

.eCalculadoraCetelem.cargando {
    opacity: .2
}

.eCalculadoraCetelem.cargando:first-child {
    background: #f5f5f5 url('../images/calc_loader.gif') center no-repeat!important;
    opacity: .2
}

.eCalculadoraCetelem .conComiCtl,.eCalculadoraCetelem .conIntCtl,.eCalculadoraCetelem .sinIntCtl {
    display: none
}

.eCalculadoraCetelem .infoFinanciacionCtlSmall {
    width: 100%;
    display: block;
    overflow: hidden
}

.eCalculadoraCetelem .bannerPromoCtlSmall {
    width: 100%
}

.eCalculadoraCetelem .bannerPromoCtlSmall>div {
    text-align: center;
    margin-top: 25px;
}

.eCalculadoraCetelem.fuente12 {
    font-size: 12px!important;
    line-height: 15px!important
}

.eCalculadoraCetelem.fuente12 .cont_financiacionCtl {
    height: 25px!important;
    padding-top: 4px!important
}

.eCalculadoraCetelem.fuente12 .cont_importeMensualidadCtl {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

/* .eCalculadoraCetelem.fuente12 .infoFinanciacionCtl {
    line-height: 12px!important;
    font-size: 9px!important;
    font-weight: bold;
}  */
.infoFinanciacionCtl.e_colorTextoExteriorCtl p.bold {
	line-height: 12px!important;
    font-size: 9px!important;
    font-weight: bold;
}
.infoFinanciacionCtl.e_colorTextoExteriorCtl span.weight {font-weight: 100;}
.txt_underline {text-decoration: underline;}
.eCalculadoraCetelem.fuente14 * {
    font-size: 14px!important;
    line-height: 17px!important
}

.eCalculadoraCetelem.fuente14 .cont_financiacionCtl {
    height: 27px!important;
    padding-top: 4px!important
}

.eCalculadoraCetelem.fuente14 .cont_importeMensualidadCtl {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

.eCalculadoraCetelem.fuente14 .infoFinanciacionCtl,.eCalculadoraCetelem.fuente14 .infoFinanciacionCtl * {
    line-height: 14px!important;
    font-size: 10px!important
}

.eCalculadoraCetelem.fuente16 * {
    font-size: 16px!important;
    line-height: 19px!important
}

.eCalculadoraCetelem.fuente16 .cont_financiacionCtl {
    height: 25px!important;
    padding-top: 2px!important
}

.eCalculadoraCetelem.fuente16 .label_financiacion {
    width: 135px!important;
    line-height: 16px!important
}

.eCalculadoraCetelem.fuente16 .label_cuota {
    width: 65px!important;
    line-height: 16px!important
}

.eCalculadoraCetelem.fuente16 .cont_importeMensualidadCtl {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

.eCalculadoraCetelem.fuente16 .contExterno_financiacionCtl {
    margin-left: -140px;
    padding-left: 140px
}

.eCalculadoraCetelem.fuente16 .contExterno_importeMensualidadCtl {
    margin-left: -120px;
    padding-left: 120px
}

.eCalculadoraCetelem.fuente16 .financiacionCtl {
    font-size: 14px!important
}

.eCalculadoraCetelem.fuente16 .infoFinanciacionCtl,.eCalculadoraCetelem.fuente16 .infoFinanciacionCtl * {
    line-height: 16px!important;
    font-size: 12px!important
}

.eCalculadoraCetelem.fuente18 * {
    font-size: 18px!important;
    line-height: 21px!important
}

.eCalculadoraCetelem.fuente18 .cont_financiacionCtl {
    height: 30px!important;
    padding-top: 2px!important
}

.eCalculadoraCetelem.fuente18 .label_financiacion {
    width: 135px;
    line-height: 21px
}

.eCalculadoraCetelem.fuente18 .label_cuota {
    width: 65px;
    line-height: 21px
}

.eCalculadoraCetelem.fuente18 .cont_importeMensualidadCtl {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

.eCalculadoraCetelem.fuente18 .contExterno_financiacionCtl {
    margin-left: -140px;
    padding-left: 140px
}

.eCalculadoraCetelem.fuente18 .contExterno_importeMensualidadCtl {
    margin-left: -120px;
    padding-left: 120px
}

.eCalculadoraCetelem.fuente18 .financiacionCtl {
    font-size: 16px
}

.eCalculadoraCetelem.fuente18 .infoFinanciacionCtl,.eCalculadoraCetelem.fuente18 .infoFinanciacionCtl * {
    line-height: 18px;
    font-size: 15px
}

.eCalculadoraCetelem .contExterno2_financiacionCtl {
    float: left;
    width: 36%;
    position: relative
}

.eCalculadoraCetelem.unaColumna .contExterno2_financiacionCtl {
    float: none;
    width: 100%;
    margin-bottom: 10px
}

.eCalculadoraCetelem .contExterno2_importeMensualidadCtl {
    float: left;
    width: 64%;
    margin-left: 0;
    padding-left: 8px
}

.eCalculadoraCetelem.masInfo .contExterno2_importeMensualidadCtl {
    margin-left: -40px;
    padding-left: 48px
}

.eCalculadoraCetelem.unaColumna .contExterno2_importeMensualidadCtl {
    width: 100%;
    margin-left: 0;
    padding-left: 0
}

.eCalculadoraCetelem.unaColumna.masInfo .contExterno2_importeMensualidadCtl {
    padding-left: 48px;
    margin-left: -48px
}

.eCalculadoraCetelem.fuente16 .contExterno2_financiacionCtl {
    margin-left: -10px;
    padding-left: 10px
}

.eCalculadoraCetelem.fuente16.unaColumna .contExterno2_financiacionCtl {
    margin-left: 0;
    padding-left: 0
}

.eCalculadoraCetelem.fuente16 .moreInfoCtl {
    margin-top: -2px
}

.eCalculadoraCetelem.fuente18.unaColumna .contExterno2_importeMensualidadCtl {
    margin-left: 0;
    padding-left: 0
}

.eCalculadoraCetelem.fuente18 .contExterno2_financiacionCtl {
    margin-left: 0;
    padding-left: 0
}

.eCalculadoraCetelem.fuente18.unaColumna .contExterno2_financiacionCtl {
    margin-left: 0;
    padding-left: 0
}

.eCalculadoraCetelem.fuente18.masInfo .contExterno2_importeMensualidadCtl {
    margin-left: -55px;
    padding-left: 60px
}

.eCalculadoraCetelem.fuente18.unaColumna.masInfo .contExterno2_importeMensualidadCtl {
    margin-left: -55px;
    padding-left: 55px
}

.eCalculadoraCetelem.fuente18 .moreInfoCtl {
    margin-top: 3px
}

.eCalculadoraCetelem .errorCtl {
    color: #ce0000;
    text-align: center;
    padding-top: 4px;
    display: block;
    clear: left
}

.eCalculadoraCetelem .cont_select_financiacionCtl {
    float: left;
    width: 100%;
    margin-left: -60px;
    padding-left: 72px;
    max-width: 250px
}

.eCalculadoraCetelem .e_backgroundColorCtl {
    background-color: rgba(61,148,44,0.2)
}

.eCalculadoraCetelem .e_colorCtl {
    color: #3d942c
}

.eCalculadoraCetelem .mostrarConMasInfo {
    display: none
}

.eCalculadoraCetelem .enlaceVerMas,.eCalculadoraCetelem .enlaceVerMenos {
    text-decoration: none
}

.eCalculadoraCetelem.mostrarMasInfo .mostrarConMasInfo {
    display: inline
}

.eCalculadoraCetelem.mostrarMasInfo .enlaceVerMas {
    display: none
}

.eCalculadoraCetelem.mostrarMasInfo .enlaceVerMenos {
    display: inline;
    margin-left: 6px
}

.eCalculadoraCetelem .flechaAbajoCtl,.eCalculadoraCetelem .flechaArribaCtl {
    width: 12px;
    height: 12px;
    background-image: url(../images/flechaAbajo.png);
    display: inline-block;
    margin-bottom: -2px;
    margin-right: 3px;
    border-radius: 4px
}

.eCalculadoraCetelem .flechaArribaCtl {
    background-image: url(../images/flechaArriba.png)
}

.eCalculadoraCetelem select {
    display: inline-block;
    height: inherit
}

.eCalculadoraCetelem .negrita {
    font-weight: bold!important
}

.eCalculadoraCetelem.segundoElemento {
    text-align: left!important;
    margin-top: 5px!important
}

.eCalculadoraCetelem.unaColumna .contExterno2_financiacionCtl,.eCalculadoraCetelem.unaColumna .contExterno2_importeMensualidadCtl {
    width: 100%
}

.eCalculadoraCetelem .repartidoEnBloques {
    margin: 0 4px
}
